<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Portal de notícias</title>
</head>

<body>

	<h1>Notícia</h1>

	<h2><%= noticia.titulo %></h2>
	<h2><%= noticia.noticia %></h2>

</body>

</html>